<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Header</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav navbar-right">
                    <% if (!currentUser) { %>
                        <li><a class="nav-link" href="/login">Login</a></li>
                        <li><a class="nav-link" href="/register">Sign up</a></li>
                    <% } else { %>
                        <!-- <li><a href="#">Signed in as <%= currentUser.username %></a></li> -->
                        <li><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul> 
            </div>
        </div>
    </nav>
</body>

</html>